.hero {
    &__actions {
        max-width: 100%;
        background: linear-gradient(151.95deg, #32c190 0%, #4bdcaa 100%);
        box-shadow: 0px 20px 40px rgba(50, 193, 144, 0.3);
        border-radius: 24px;
        &_item {
            text-decoration: none;
            height: 86px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.29);
            &-icon {
                height: 32px;
                margin-left: 26px;
            }
            &-text {
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;
                color: #ffffff;
                margin-left: 40px;
            }
            &:last-child {
                border-bottom: none;
            }
            transition: 0.2s;
            &:hover {
                transform: scale(1.05);
                transition: 0.2s;
            }
        }
    }
    &__slider {
        height: 516px;
        width: 100%;
        &_item {
            display: flex !important;
            flex-direction: column;
            justify-content: end;

            height: 516px;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 28px;
        }
        &_gradient {
            height: 242px;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            border-radius: 0 0 28px 28px;
            &-date {
                padding-top: 90px;
                margin-left: 38px;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;
                color: #44ff9d;
            }
            &-title {
                margin-left: 38px;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.2;
                color: #ffffff;
            }
        }
    }
}
