.partners {
    margin-bottom: 80px;
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 42px;
    }
}
.partners__logo_slider{
    margin: 0 20px;
}
