/***  WORK PROJECT  ***/
.slick-list {
    overflow: hidden;
}
.hero__slider {
    position: relative;
}
.hero__slider .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}
.hero__slider .slick-dots li {
    list-style: none;
}
.hero__slider .slick-dots li button {
    display: block !important;
    font-size: 0;
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    border: none;
    background-color: #32c190 !important;
    margin-left: 20px;
}
.hero__slider .slick-dots li.slick-active button {
    background-color: #d0d0d0 !important;
}
.hero__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 64px;
    width: 64px;
    margin-top: -32px;

    background: rgba($color: #f00, $alpha: 0);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}
.hero__slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url(../img/slider_left_arr.svg);

    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        transform: scale(1.2);
    }
}
.hero__slider .slick-arrow.slick-next {
    right: 0;
    background-image: url(../img/slider_right_arr.svg);

    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        transform: scale(1.2);
    }
}

.team__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 30px;
}
.team__slider .slick-dots li {
    list-style: none;
}
.team__slider .slick-dots li button {
    font-size: 0;
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    border: none;
    background-color: #da104c;
    margin-left: 20px;
}
.team__slider .slick-dots li.slick-active button {
    background-color: #d0d0d0;
}

.hero__slider .slick-dots li button {
    background-color: #f00 !important;
}